{% extends 'base.html' %}

{% block title %}Add Cupcake{% endblock %}

{% block content%}

<div class="container">
    <h1 class="display-1 text-center">Add A Cupcake!</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% for msg in get_flashed_messages() %}
            <div class="bg-success text-light">{{ msg }}</div>
            {% endfor %}
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form
                if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field(class_="form-control") }}
                    {% for err in field.errors %}
                    <small class="form-text text-danger">
                        {{err}}
                    </small>
                    {% endfor %}
                    {% endfor %}
                </div>
                <button class="btn btn-success btn-large">Add Cupcake</button>
                <a href="/" class="btn btn-danger btn-large">Go Back</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}