{% extends 'base.html' %}

{% block title %}{{cupcake.flavor}}{% endblock %}

{% block content%}

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <img src="{{cupcake.image}}" alt="Picture of {{cupcake.flavor}}" height="300">


        </div>
        <div class="col">
            <h2 class="display-2">{{cupcake.flavor}}</h2>
            <div class="col">
                <p>{{cupcake.size}}</p>
                <p>{{cupcake.rating}}</p>
            </div>
            <div>
                <a href="/cupcakes/{{cupcake.id}}/edit" class="btn btn-primary btn-large">Edit</a>
                <a href="/cupcakes/{{cupcake.id}}/delete" class="btn btn-danger btn-large">Delete</a>
                <a href="/" class="btn btn-success btn-large">Go Back</a>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>



{% endblock %}